@model EmpresaModel

@{
    ViewData["Title"] = "Excluir Empresa";
}

<div class="container mb-5 text-center">
    <h1 class="text-dark">Excluir Empresa</h1>
</div>

<div class="container">

    <form method="post" asp-controller="Empresas" asp-action="Excluir">

        <input type="hidden" asp-for="Id" />        

        <div class="container bg-dark p-5 rounded-5">

            <h3 class="text-light text-center">Tem certeza que deseja EXCLUIR a Empresa??</h3>

            <br/>

            <div class="mb-3">

                <label for="Nome" class="form-label text-light">Nome: </label>
                <input type="text" class="form-control text-light" asp-for="Nome" id="Nome" disabled>
                <span asp-validation-for="Nome" class="text-danger" />

            </div>

            <div class="mb-3">

                <label for="Cnpj" class="form-label text-light">Cnpj: </label>
                <input type="text" class="form-control text-light" asp-for="Cnpj" id="Cnpj" disabled>
                <span asp-validation-for="Cnpj" class="text-danger" />

            </div>

        </div>

        <br/>

        <div class="container d-flex gap-5 nt-5">
            <button type="submit" class="btn btn-danger w-50">Excluir</button>
            <a class="btn btn-primary w-50" asp-controller="Empresas" asp-action="Index">Voltar</a>
        </div>

        <br />

    </form>

</div>

